#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
}

.accordion-container {
    width: 50%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.accordion-title {
    width: 100%;
    padding: 1rem;
    display: flex;
    font-size: inherit;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-black);
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: .5rem;
    transition: border-radius 0.3s ease-in-out;
}

.accordion-title:after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    mask: url('/images/icons/chevron-up-solid-full.svg') no-repeat center/contain;
    background: var(--white);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.accordion-title.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-title.active:after {
    transform: rotate(180deg);
    background: var(--pink)
}

.accordion-title * {
    font-size: inherit;
    font-weight: normal;
}

.accordion-content {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordion-content-wrapper {
    background-color: var(--light-black-dark);
    color: var(--darker-white);
    font-size: inherit;
    border: none;
    border-top: 1px solid var(--black);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
}

.accordion-content-wrapper a {
    color: var(--sky-blue);
    text-decoration: none;
}

.accordion-content-wrapper a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    #faq {
        padding: 1rem;
        gap: 1rem;
    }

    .accordion-container {
        width: 75%;
    }

    .accordion-title {
        font-size: 1rem;
    }

    .accordion-content-wrapper {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .accordion-container {
        width: 100%;
    }

    .accordion-title {
        font-size: 0.9rem;
    }
}