#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    gap: 6rem;
    background-color: var(--black);
}

.features-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(600px + 6rem);
    gap: 6rem;
    width: 100%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.feature i {
    font-size: 5rem;
    color: var(--pink-dark);
}

.feature h3 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: var(--white);
    text-align: center;
}

.feature p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: var(--white);
    text-align: center;
}

.requirements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    max-width: calc(1000px + 6rem);
}

.requirement-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: var(--white);
    max-width: 500px;
    width: 100%;
}

.requirement-item > i {
    font-size: 6rem;
    color: var(--pink-dark);
}

.requirement-item h3 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: var(--white);
}

.requirement-item p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: var(--white);
    text-align: left;
}

.requirement-item ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.requirement-item ul i {
    color: var(--pink-dark);
    font-size: 1.5rem;
}

.requirement-item ul li {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
}