.highlight {
    --highlight-color: #46c5f2;

    padding: 0 10px 0 10px;
    position: relative;
    font-weight: bold;
    transition: background 0.4s;
    background: none;
}

.highlight.in-view {
    background: linear-gradient(90deg, var(--highlight-color) 110%, transparent 0) left/0 100% no-repeat;
    animation: highlight-animate 1s forwards;
}

.highlight.pink {
    --highlight-color: var(--pink);
}

.highlight.orange {
    --highlight-color: var(--orange);
}

@keyframes highlight-animate {
    from {
        background-size: 0 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

.category-title {
    font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
    font-size: clamp(2rem, -0.5rem + 8vw, 3rem);
    text-align: center;
}

.white {
    color: white;
}