
header {
    width: 100%;
    z-index: 100;
}

/* Header Styles */
nav {
    position: relative;
    width: 76vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12% 20px 12%;
    background-color: #00000000;
    color: var(--white);
    font-family: "JetBrains Mono ExtraBold", monospace;
}


.links {
    display: flex;
    align-items: center; /* Center align items vertically */
    width: 100%;
}

.link {
    position: relative;
    z-index: 150;
    padding-left: 5px;
}

.link a {
    display: flex;
    align-items: center;
}

/* Nyarch Button */
.link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    z-index: 150;
    transition: transform 0.3s ease;
}

.link img:hover {
    transform: scale(1.2);
}


/* Rounded Buttons */
.link.rounded a {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding */
    color: var(--white);
    text-decoration: none;
    border-radius: 10px; /* Less rounded corners */
    background-color: transparent;
    transition: background-color 0.3s;
}

.link.rounded:hover a {
    background-color: var(--pink); /* Pink background on hover */
}


#download-btn {
    position: relative;
    z-index: 150;
}

#download-btn .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.dropdown-content,
.location,
.nvidia-options {
    width: 190px;
}

.locations {
    top: calc(100% + 125px) !important;
    right: calc(12vw + 202px);
}

.nvidia-options {
    top: calc(100% + 170px) !important;
    right: calc(12vw + 202px);
}

.dropdown-content {
    top: calc(100% - 10px);
}

.download:hover #download-btn .arrow,
.download .dropdown-content:hover ~ #download-btn .arrow {
    transform: rotate(90deg);
}

#download-btn .arrow.down {
    transform: rotate(180deg);
}


.download .dropdown-content,
.download .locations,
.download .nvidia-options {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap; /* Prevents text from wrapping */
    z-index: 160;
}

.download:hover .dropdown-content,
.download .dropdown-content:hover {
    opacity: 1;
    visibility: visible;
}

.download-option {
    display: flex;
    flex-direction: row;
    gap: .65rem;
    padding: .65rem;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: calc(10px - 4px) !important; /* Border radius = parent border radius - outer padding */
    color: var(--light-black);
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: left;
    text-overflow: ellipsis;
}

.download-option img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    z-index: 150
}

.download-option:hover {
    background-color: var(--darker-white);
}


/*change the size of the texts for phone */
@media only screen and (max-width: 1100px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .nyarch-button {
        top: -20px;
    }

    .links {
        position: absolute;
        top: 52px;
        width: unset;
    }

    .download {
        position: absolute;
        top: 95px;
        width: auto;
        visibility: visible;
        padding: 0 4px 4px 4px;
    }

}

.space {
    display: inline-block;
}