header {
    width: 100%;
    z-index: 100;
}

.navbar-collapse-button {
    display: none; /* Hide the button by default */
}

/* Header Styles */
nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background-color: #00000000;
    color: var(--white);
    font-family: "JetBrains Mono ExtraBold", monospace;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.links {
    display: flex;
    align-items: center; /* Center align items vertically */
    width: 100%;
    list-style: none;
    padding: 0;
    gap: calc(2rem - 16px);
}

.link {
    position: relative;
    z-index: 150;
}

.link a {
    display: flex;
    align-items: center;
}

/* Nyarch Button */
.link img {
    width: 40px;
    height: 40px;
    z-index: 150;
    transition: transform 0.3s ease;
}

.link img:hover {
    transform: scale(1.2);
}


/* Rounded Buttons */
.link.rounded a {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding */
    color: var(--white);
    text-decoration: none;
    border-radius: 10px; /* Less rounded corners */
    background-color: transparent;
    transition: background-color 0.3s;
}

.link.rounded:hover a {
    background-color: var(--pink); /* Pink background on hover */
}


#download-btn {
    position: relative;
    z-index: 150;
}

#download-btn .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.dropdown-content,
.location,
.nvidia-options {
    width: 190px;
}

.dropdown-content {
    top: calc(100% - 10px);
}

.download:hover #download-btn .arrow,
.download .dropdown-content:hover ~ #download-btn .arrow {
    transform: rotate(90deg);
}

#download-btn .arrow.down {
    transform: rotate(180deg);
}


.download .dropdown-content,
.download .locations,
.download .nvidia-options {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap; /* Prevents text from wrapping */
    z-index: 160;
}

.download:hover .dropdown-content,
.download .dropdown-content:hover {
    opacity: 1;
    visibility: visible;
}

.navbar-brand span {
    display: none;
}

.download-option {
    display: flex;
    flex-direction: row;
    gap: .65rem;
    padding: .65rem;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: calc(10px - 4px) !important; /* Border radius = parent border radius - outer padding */
    color: var(--light-black);
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: left;
    text-overflow: ellipsis;
}

.download-option img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    z-index: 150
}

.download-option:hover {
    background-color: var(--darker-white);
}


/*change the size of the texts for phone */
@media only screen and (max-width: 1100px) {
    nav {
        /*justify-content: space-between;*/
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-collapse-button {
        display: flex; /* Show the button on smaller screens */
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 200; /* Ensure it is above other elements */
    }

    .navbar-collapse-button > div {
        display: block;
        width: 25px;
        height: 25px;
        position: relative;
    }

    .navbar-collapse-button > div span {
        display: block;
        width: 100%;
        position: relative;
        height: 4px;
        background-color: var(--white);
        border-radius: 2px;
        transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    }

    .navbar-collapse-button > div span:nth-child(2) {
        margin: 7px 0; /* Space between the lines */
    }

    .navbar-collapse-button.active > div span:nth-child(1) {
        transform: rotate(45deg);
        top: 10px; /* Adjust position for better alignment */
    }

    .navbar-collapse-button.active > div span:nth-child(2) {
        opacity: 0; /* Hide the middle line */
        margin: 0;

    }

    .navbar-collapse-button.active > div span:nth-child(3) {
        transform: rotate(-45deg);
        top: 2px; /* Adjust position for better alignment */
    }

    .navbar-collapse {
        position: fixed;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 75%;
        right: -1rem;
        top: 0;
        height: 100dvh;
        display: flex; /* Hide by default */
        transform: translateX(calc(95% + 1rem)); /* Hide off-screen */
        background-color: var(--black);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-collapse-button.active + .navbar-collapse {
        transform: translateX(0); /* Show when active */
    }

    .navbar-brand span {
        display: block; /* Show the brand name on smaller screens */
        font-size: 1.25rem; /* Adjust font size for better visibility */
    }

    .navbar-brand a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-decoration: none;
        color: inherit;
    }

    .navbar-collapse-button:hover > div span {
        background-color: var(--pink);
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .dropdown-content {
        top: 1rem;
    }

    .download .dropdown-content {
        position: relative;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 100%
    }

    .download:hover .dropdown-content,
    .download .dropdown-content:hover {
        max-height: 18rem; /* Adjust as needed */
    }

    .download {
        position: relative;
    }

    .locations, .nvidia-options {
        bottom: 0 !important;
        right: 0;
    }
}

@media screen and (max-width: 460px) {
    .navbar-collapse {
        width: calc(100% + 1rem);
    }
}

.space {
    display: inline-block;
}