:root {
    --white: #ffffff;
    --darker-white: #bebebe;
    --black: #1a1a1a;
    --sightly-light-black: #222428;
    --light-black: #333;
    --pink: #F092DD;
    --blue: #042f60;
    --dark-blue: #052447;
}